.cell {
  color: white;
  font-weight: bold;
  user-select: none;
  box-sizing: border-box;
  position: absolute;
}

.cheeseEmoji {
  position: absolute;
  top: -6px;
  user-select: none;
}

.cellNumber {
  position: absolute;
  bottom: 2px;
  right: 4px;
  font-size: 9px;
  color: white;
  font-weight: bold;
  user-select: none;
}

